Package: com.shepgoba.beetcane
Name: BeetCane
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Add a percent for music completion!
Maintainer: shepgoba
Author: shepgoba
Section: Tweaks
