Package: com.shepgoba.beatcane
Name: BeatCane
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Add a percent indicator for music completion
Maintainer: shepgoba
Author: shepgoba
Section: Tweaks
