Package: com.shepgoba.beatcane
Name: BeatCane
Depends: mobilesubstrate, firmware (>= 11.0)
Version: 1.0.2
Architecture: iphoneos-arm
Description: Add a percent indicator for music completion on iOS 11/12
Maintainer: shepgoba
Author: shepgoba
Section: Tweaks
