Package: com.shepgoba.beatcane
Name: BeatCane
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Add a percent indicator for music completion
Maintainer: shepgoba
Author: shepgoba
Section: Tweaks
Version: 1.0
Installed-Size: 204
